body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.jumbotron { 
  background:rgba(0,0,0,0.001);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#app > div.container {
  margin-top: 3.1rem;
}

.logo {
  margin-right: 30px;
}

.next-steps .fa-link {
  margin-right: 5px;
}

/* Fix for use only flexbox in content area */
.next-steps .row {
  margin-bottom: 0;
}

.next-steps .col-md-5 {
  margin-bottom: 3rem;
}

#qsLoginBtn {
  background-color:#fff;
  color: #000;
  border-color:#000;
}

@media (max-width: 991px) {
 #app > div.next-steps.my-5 > div > div.col > nav {
    position:relative;
    top:-40px;
    left:0px;
  }
  .offset-sm-1 {
    margin-left: 0px;
  }

  .timeline-container { 
    margin-right:15%;
  }

}

@media (max-width: 768px) {

  .next-steps .col-md-5 {
    margin-bottom: 0;
  }

}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  
}


#app > div.nav-container > nav > div > li > a {
  padding:0;
}

.nav-item {
  list-style:none;
}
.nav-container {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.coursenav {
  width: 200px;
  height: 100%;
}

#profileDropDown {
  padding: 0px;
}

div.nav-container > nav > div > ul > li > a {
   padding-right: 20px;
   padding:0;
}

.score-board {
  width: 100%;
  height: 100%;
  padding: 25px;
}

.score-board p {
  font-size:28px;
  text-align: center;
}

.score-board button {
  color: #000;
  background-color: #fff;
  border-color: #6c757d;
  width: 100%;
  height: 65px;
  font-size: 25px;
  margin-top: 35px
}
.container-quiz {
  margin-top:40px; 
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container-quiz h1 {
  text-align: center;
}

.question {
  font-size: 2.1em;
  font-weight: bold;
  margin-bottom: 25px;
}

.questionBox {
  background: #fff;
  width: 100%;
  opacity: 1;
  position: absolute;
  margin-top: 5px;
  padding: 25px;
  box-sizing: border-box;
}
.questionBox button {
    color: #000;
    background-color: #fff;
    border-color: #6c757d;
    width:100%;
    height: 65px;
    margin-bottom: 25px;
    font-size: 25px;
}
 
video, .portrait {
  width: 30%;
  border-radius: 50%;
  border: 1px solid;
  margin: 0 auto;
  display: block;
}

.course-paragraph {
  width: 70%;
  display:block;
  margin: 0 auto;
}

.capitalisation {
  font-size:60px;
  line-height: 50px;
  float: left;
  margin-right: 8px;
}

.btn {
  margin: 4px;
}

.profile {
  margin-top: 130px;
}

blockquote {
  font-size:0.8rem;
  padding:5px 0 0 0;
}

a:hover {
  color: #ff9a9a;
  text-decoration: none;
}

.example-header {
  background: #3d4351;
  color: #fff;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #f1f4f5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #e4eaec;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}
  
.jumbotron {
  padding: 26% 0rem;
}

.timeline {
  line-height: 1.4em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.timeline-container {
  width:70%;
}

.timeline h3 {
  line-height: inherit;
}

.timeline-item {
  padding-left: 40px;
  position: relative;
}

.timeline-item:last-child {
  padding-bottom: 0;
}

.chapter-info {
  font-size: 12px;
  font-weight:700;
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
}

/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #ff6b6b;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #ff6b6b;
}

/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}

.period .chapter-info {
  display: none;
}

.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #ccd5db;
  border-bottom: 3px solid #ccd5db;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
}

/*----------------------------------------------
        MOD: TIMELINE SPLIT
    ----------------------------------------------*/

@media (min-width: 0px) {
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    display:none;
  }

}

@media (min-width: 768px) {

 
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    padding: 0;
  }
  .timeline-split .chapter-info, .timeline-centered .chapter-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .chapter-info,
  .timeline-centered .period .chapter-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    display:none;
  }
}

/*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .chapter-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .chapter-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .chapter-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .chapter-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
  div.col > nav > a > div > div {
    width: 190px;
  }

}

#app > div.container > div.next-steps.my-5 > div:nth-child(2) > div:nth-child(3) > a {
  pointer-events: auto;
}

#app > div.container > div > div > div {
  pointer-events: none;
}
